*{
margin: 0;
padding: 0;

}


.cabecalho{
background-color:#021196;
color: aliceblue;
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px 0;
}
.img-cabecalho{

width: 10%;

}
    .cabecalho-lista-iten{
display: inline-block;
margin: 0 10px;
font-size: 25px;
    }

.IA-img1{
    width: 25%;
    padding: 0 20px;
}
 
.IA{
background-image: -moz-linear-gradient(#021196,#440021);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}

.AI-div{

width: 20%;

}
.IA-titulo{ 
padding: 24px 0;

}
.IA-titulo2{

padding: 50px 0; 

}
.IA-img2{

   width: 25%; 
   padding: 20px 0;
}
.ia-imagem-div{
padding: 15px 0;
justify-items: center
} 
.IA-img3{
width: 30%;

}
.IA-img4{

    width: 30%;
}

